## .NET Build Artifacts
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio & VS Code
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

## User-specific & OS files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

## Firmware & Temporary test dumps
*.bin
*.ipe
*.pcap
*.pcapng
*.dmp
*.zip
speedtest_tmp/
*.log
